@page "/players"
@using UltimateManager.Data.Repositories
@using UltimateManager.Domain.Models
@inject PlayerRepository PlayerRepository

<PageTitle>Players</PageTitle>

<h1>Players</h1>

@if(allPlayers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tr>
            <th> Name </th>
            <th> Age </th>
            <th> Overall </th>
            <th> Team </th>
        </tr>
        @foreach(var player in allPlayers)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Age</td>
                <td>@player.Overall</td>
                <td>@player.Team?.Name</td>
            </tr>
        }
    </table>
}

<button class="btn btn-primary" @onclick="CreatePlayer">
    @if (newPlayerButtonStatus)
    {
        <span> Cancel </span>
    }
    else
    {
        <span> New Player </span>
    }
</button>

@if (newPlayerButtonStatus)
{
    <form>
        <div class="form-control">
            <label for="newPlayerName"> Name </label>
            <input type="text" />
            <br />
            <label for="newPlayerTeam"> Team </label>
            <select>
                <option value="asdf"> asdf </option>
            </select>
        </div>
    </form>
}


@code {
    List<Player> allPlayers = new();
    private bool newPlayerButtonStatus = false;

    protected override async Task OnInitializedAsync()
    {
        allPlayers = await PlayerRepository.GetAllPlayersAsync();
    }

    private void CreatePlayer()
    {
        newPlayerButtonStatus = !newPlayerButtonStatus;
    }
}